<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo post</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Descripción" [(ngModel)]="caption"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="takePhoto()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Usar cámara
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button expand="block" (click)="fileInput.click()">
          <ion-icon name="file-tray" slot="start"></ion-icon>
          Elegir archivo
        </ion-button>
        <input #fileInput type="file" accept="image/*" hidden (change)="onFileChange($event)" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text color="danger" *ngIf="cameraError">
    <p>{{ cameraError }}</p>
  </ion-text>

  <div *ngIf="cameraOpen" class="camera-wrapper">
    <div class="camera-header">
      <ion-button fill="clear" color="light" (click)="closeCamera()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </div>

    <video #videoRef class="camera-video" autoplay playsinline muted></video>

    <canvas #canvasRef hidden></canvas>

    <div class="camera-actions">
      <ion-button expand="block" (click)="capturePhoto()">
        <ion-icon name="camera" slot="start"></ion-icon>
        Capturar
      </ion-button>
    </div>
  </div>

  <div *ngIf="preview && !cameraOpen" class="preview-wrapper">
    <ion-img [src]="preview"></ion-img>
  </div>

  <ion-button expand="block" class="ion-margin-top" (click)="upload()" [disabled]="!file">
    <ion-icon name="cloud-upload" slot="start"></ion-icon>
    Publicar
  </ion-button>
</ion-content>
