<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo post</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Descripción" [(ngModel)]="caption"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="takePhoto()">
          <ion-icon name="camera" size="large"></ion-icon>
          Usar cámara
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" (click)="fileInput.click()">
          <ion-icon name="file-tray" size="large"></ion-icon>
          Elegir archivo
        </ion-button>
        <input #fileInput type="file" accept="image/*" hidden (change)="onFileChange($event)" />
      </ion-col>
      <ion-col><ion-button expand="block" (click)="upload()">
        <ion-icon name="cloud-upload" size="large"></ion-icon>
        Publicar
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-img *ngIf="preview" [src]="preview" style="margin-top:16px;border-radius:12px;"></ion-img>


</ion-content>